@import 'vars.css';
@import 'fonts.css';

html, body {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    background-color: rgb(231, 231, 231);
    border: 0;
    min-height: 40px;
    cursor: pointer;
}

button.primary {
    background-color: var(--button-primary-bg-color);
    color: white;
}

button.secondary {
    background-color: var(--button-secondary-bg-color);
    color: white;
}

.hidden {
    display: none !important;
}

.error-message-box {
    background-color: var(--error-message-box-bg-color);
    color: var(--error-message-box-color);
    
    width: 100%;
    min-height: 80px;
    box-sizing: border-box;

    margin-bottom: 10px;
    padding: 20px;
}



.body-container {
    display: flex;
    justify-content: center;
    align-items: stretch;

    box-sizing: border-box;
    padding: 10px;

    min-height: 100vh;
    width: 100%;

    background-color: var(--floating-container-bg-color);
}

.body-container .content {
    padding: 30px;
    box-sizing: border-box;

    max-width: 1000px;
    width: 100%;

    background-color: var(--floating-content-bg-color);
}

.body-container .content h1 {
    text-align: center;
}

form.full-length {
    width: 100%;
    height: 100%;
}

.form-container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

form.full-length input, form.full-length button, form.full-length select {
    width: 100%;
    margin: 5px 0;
    border: 0;
}

form.full-length input {
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
}

form.full-length select {
    padding: 10px;
}

form.gera-plano {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form.gera-plano button.add::before {
    content: '+';
}

form.gera-plano .beneficiario {
    margin: 10px 0;
    padding: 14px;
    background-color: var(--floating-content-fieldset-bg-color);
}

form.gera-plano .beneficiario h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
}



table.precos-individual-results {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    
    border-collapse: collapse;
    border-width: 0;

    text-align: left;
}

table.precos-individual-results th {
    white-space: nowrap;
    min-width: 120px;
    text-align: right;
}

table.precos-individual-results td {
    width: 100%;
}

table.precos-individual-results th, table.precos-individual-results td {
    padding: 20px;
    box-sizing: border-box;
}

table.precos-individual-results tr:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}
table.precos-individual-results tr:nth-child(even) {
    background-color: rgb(226, 226, 226);
}

.results-buttons button.primary {
    width: 100%;
}

.results-download-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;

    margin: 10px 0;
}

.results-download-buttons button.secondary {
    width: 100%;
}